div.box, div.cell {
	display: inline-block;
}

.cell input {
	width: 30px;
	height: 30px;
}

#sudoku {
	font-size: 0;
}

body {
	text-align: center;
	font-family: Arial;
}

.incorrect {
	background-color: yellow;
}

.value-provided {
	background-color: #DDD;
}

#flash {
  margin: 20px;
}